.container {
  width: 73vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > div {
  height: 85%;
  width: 90%;
  border-radius: 8px;
  box-shadow:  inset -4px -4px 8px hsl(30, 10%, 87%), inset 4px 4px 8px hsl(30, 10%, 85%);
  overflow-y: auto;
}

