@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Lato", sans-serif;;
  padding: 0;
  margin: 0px;
  background-color:hsl(30, 10%, 90%);
  
  /* Estilização da barra de rolagem */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color:  hsl(30, 5%, 80%); /* Cor do indicador da barra de rolagem */
  border-radius: 6px; /* Borda arredondada do indicador */
}

::-webkit-scrollbar-track {
  background-color: hsl(30, 10%, 87%);
}

/* Estilização da barra de rolagem horizontal */
::-webkit-scrollbar-horizontal {
  height: 12px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #3498db; /* Cor do indicador da barra de rolagem horizontal */
}

::-webkit-scrollbar-track:horizontal {
  background-color: #f1f1f1; /* Cor da faixa da barra de rolagem horizontal */
}

}

html {
  font-size: 16px; /* Altere o valor conforme necessário */
}

@media (max-width: 1350px) {
  html {
    font-size: 13px; 
  }
}

@media (max-width: 1350px) {
  ::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
  }
}

@media (max-height: 700px) {
  html {
    font-size: 13px; 
  }
}