.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes growButton {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 60px;
    height: 60px;
  }
}

.name, .about {
  margin-top: 20px;
  font-size: 1.8rem;
  opacity: 0;
  /* z-index: 2; */
  font-weight: 600;
  /* position: relative; */
}

.homeContainer p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* .name::after {
  z-index: 1;
  content: " ";
  position: absolute;
  background-color: darkslateblue;
  bottom: 0px;
  left: 0px;
  height: 3px;
  animation: increaseWidth 0.8s ease-in forwards;
}

.about::after {
  content: " ";
  position: absolute;
  background-color: darkslateblue;
  bottom: 0px;
  left: 0px;
  height: 3px;
  animation: increaseWidth 0.8s ease-in forwards;
  animation-delay: 0.8s;
} */


.firstLine {
  opacity: 0;
  animation: fadeIn 0.8s ease-in forwards;
}

.name {
  animation: fadeIn 0.8s ease-in forwards;
}

.about {
  animation: fadeIn 0.6s ease-in forwards;
  animation-delay: 0.8s;
}

.lastLine {
  opacity: 0;
  animation: fadeIn 0.6s ease-in forwards;
  animation-delay: 1.2s;
}

.homeContainer span {
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.homeContainer a {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: -4px -4px 8px hsl(30, 10%, 96%, 0.8), 1px 2px 8px hsl(30, 10%, 80%);
  margin-bottom: 10px;
  color: transparent;
}

.homeContainer a:hover {
  box-shadow: inset -4px -4px 8px hsl(30, 10%, 96%, 0.8), inset 1px 2px 8px hsl(30, 10%, 70%);
  cursor: pointer;
}

.linkedinButton {
  width: 0;
  height: 0;
  animation: growButton 0.5s ease-in forwards;
  animation-delay: 2s;
}

.githubButton {
  width: 0;
  height: 0;
  animation: growButton 0.5s ease-in forwards;
  animation-delay: 2.5s;
}

.codeButton {
  width: 0;
  height: 0;
  animation: growButton 0.5s ease-in-out forwards;
  animation-delay: 3s;
}

.linkedinColor {
  animation: showLinkedin 0s ease-in-out forwards;
  animation-delay: 2.5s;
}

.githubColor {
  animation: showGitHub 0s ease-in-out forwards;
  animation-delay: 3s;
}

.mailColor {
  animation: showCode 0s ease-in-out forwards;
  animation-delay: 3.4s;
}

@keyframes showCode {
  from {
    color: transparent
  }
  to {
    color: #FF6961;
  }
}

@keyframes showGitHub {
  from {
    color: transparent
  }
  to {
    color: black;
  }
}

@keyframes showLinkedin {
  from {
    color: transparent
  }
  to {
    color: #0e76a8;
  }
}

@media only screen and (max-width: 800px) {
  .homeContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .homeContainer > div {
    flex: 0;
  }

  .buttonsContainer {
    flex-direction: row;
    flex: 0;
    margin-top: 8vh;
  }

  .buttonsContainer a {
    margin: 0 5vw;
  }
}