.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsContainer > div:first-child {
  display: flex;
  align-items: center;
  box-shadow:   -4px -4px 8px hsl(30, 10%, 85%),  4px 4px 8px hsl(30, 10%, 87%);
  margin-top: 2%;
  margin-bottom: 2%;
  width: 85%;
  height: 75%;
  border-radius: 10px;
  padding: 20px;
}

.projectsContainer > div:first-child > div > div > div{
  display: flex;
  flex-direction: column;
}

.projectsContainer > div:first-child > div > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5vw;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.projectButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 20%;
  height: 7vh;
  color: #444;
  padding: 5px 20px;
  border-radius: 40px;
  box-shadow: -4px -4px 8px hsl(30, 10%, 94%, 0.8), 4px 4px 8px hsl(30, 10%, 82%, 0.8);
  cursor: pointer;
}

.projectButton:hover {
  box-shadow: inset -1px -3px 3px hsl(30, 10%, 96%), inset 1px 3px 3px hsl(30, 10%, 74%);
}

.projectButtonSelected {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 7vh;
  width: 20%;
  color: #444;
  padding: 5px 20px;
  border-radius: 40px;
  box-shadow: inset -1px -3px 3px hsl(30, 10%, 96%), inset 1px 3px 3px hsl(30, 10%, 74%);
}


.projectsContainer  h1 {
  margin-bottom: 3vh;
}

.projectsContainer h2 {
  margin: 10px 0;
}

.tech {
    border-radius: 100%;
    background: linear-gradient(145deg, hsl(30, 10%, 94%), hsl(30, 10%, 80%));
    box-shadow:  5px 5px 60px hsl(30, 10%, 76%), -5px -5px 60px hsl(30, 10%, 96%);
    padding: 14px;
    margin: 8px;
    font-size: 2rem;
}

.arrowMenuContainer {
  display: none;
}

@media only screen and (max-width: 800px) {
  .projectsContainer {
  
  }

  .projectsContainer > div:first-child {
    overflow-y: auto;
    flex-direction: column;
  }

  .projectsContainer > div:first-child > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projectsContainer > div:first-child > div > div{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  .buttonsContainer {
    display: none;
  }

  .arrowMenuContainer {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vh;
  }

  .arrowMenuContainer button {
    border: none;
    box-shadow: -4px -4px 8px hsl(30, 10%, 94%, 0.8), 4px 4px 8px hsl(30, 10%, 82%, 0.8);
    height: 60%;
    padding: 1vh 2vw;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }

  .arrowMenuContainer h1 {
    margin: 0;
  }

  .tech {
    padding: 7px;
  }

  .projectsContainer img {
    width: 100%;
  }

}
