.container {
  height: 100vh;
  width: 24vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 10px; */
  padding-left: 20px;
}

.container div {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -4px -4px 8px hsl(30, 10%, 96%, 0.8), 1px 2px 8px hsl(30, 10%, 80%);
  overflow-y: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 4vh;
  width: 70%;
  margin-top: 3vh;
  color: #444;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: -4px -4px 8px hsl(30, 10%, 94%, 0.8), 4px 4px 8px hsl(30, 10%, 82%, 0.8);
  cursor: pointer;
}

.button:hover {
  box-shadow: inset -1px -3px 3px hsl(30, 10%, 96%), inset 1px 3px 3px hsl(30, 10%, 74%);
}

.buttonActivated {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 4vh;
  width: 70%;
  margin-top: 3vh;
  color: #444;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: -4px -4px 8px hsl(30, 10%, 94%, 0.8), 4px 4px 8px hsl(30, 10%, 82%, 0.8);
  cursor: pointer;
  box-shadow: inset -1px -3px 3px hsl(30, 10%, 96%), inset 1px 3px 3px hsl(30, 10%, 74%);
}

.container h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
}

.container h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #474747;
  margin-bottom: 10px;
}

.container span {
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 10px;
  box-shadow: inset -1px -3px 3px hwb(32 71% 24%), inset 1px 3px 3px hsl(30, 10%, 74%);
  border-radius: 10px;
  margin-bottom: 10px;
}

.container img {
  height: 20vh;
  width: 20vh;
  border-radius: 100%;
}
